.home {
    .banner-button
    {
        span {
            @media screen and (min-device-width: 768px) {
                font-size: 3rem;
                font-weight: 200;
                line-height: 1.1;
            }
        }
    }
}