.navbar {
 .navbar-brand {
    margin-right: 2rem;
 }

 .navbar-nav {
    .nav-link {
        @media (min-width: 768px) {
            padding-right: 1rem;
            padding-left: 1rem;
            font-size: 1.5rem;
        }
    }
 }

 
.logo {
    max-width: 150px;
}
}