@import "variables";

@import "_donate";
@import "_home";
@import "_map";
@import "_volunteer";
@import "_navbar";

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive, Arial, Helvetica, sans-serif;
}

.page {
    height: calc(100% - 70px) !important;
}

.page-footer {
    img {
        max-height: 100px;

    + img {
        margin-left: 50px;
    }
    }
}